<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <svg width="600" height="400" xmlns="http://www.w3.org/2000/svg" style = "background-color:black" viewBox="0 0 800 600">
        <g>
            <ellipse class = "animacao" id = "svg_1" filter="url(#svg_58_blur)" ry="233" rx="233" cy="267" cx="524" stroke="#a95ef9" stroke-width="3" stroke-linecap="round" stroke-dasharray="80,80,40,50" fill="none"/>
            <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="105" rx="355" cy="270" cx="530" stroke-width="0" fill="#dd5500"/>
            <ellipse stroke-width="0" ry="230" rx="230" cy="267" cx="524" stroke="#000" fill="#dd5500"/>
            <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="95" rx="345" cy="270" cx="530" stroke-width="0" fill="#a95ef9"/>
            <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="220" rx="220" cy="267" cx="524" stroke="#000" fill="#a95ef9"/>
            <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="90" rx="340" cy="270" cx="530" stroke-width="0" fill="#e85c00"/>
            <ellipse stroke-width="0" ry="215" rx="215" cy="267" cx="524" stroke="#000" fill="#e85c00"/>
            <ellipse class = "animacao" id = "svg_7" ry="213" rx="213" cy="267" cx="524" stroke="#ff7f00" stroke-width="3" stroke-linecap="round" stroke-dasharray="60,60,30,20" fill="none"/>
            <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="80" rx="330" cy="270" cx="530" stroke-width="0" fill="#a95ef9"/>
            <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="205" rx="205" cy="267" cx="524" stroke="#000" fill="#a95ef9"/>
            <ellipse class = "animacao" id = "svg_10" ry="197" rx="197" cy="267" cx="524" stroke="#efb783" stroke-width="3" stroke-linecap="round" stroke-dasharray="20,10,5,5,5,10" fill="none"/>
            <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="70" rx="320" cy="270" cx="530" stroke-width="0" fill="#ff7f00"/>
            <ellipse stroke-width="0" ry="195" rx="195" cy="267" cx="524" stroke="#000" fill="#ff7f00"/>
            <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="60" rx="310" cy="270" cx="530" stroke-width="0" fill="#efb783"/>
            <ellipse stroke-width="0" ry="185" rx="185" cy="267" cx="524" stroke="#000" fill="#efb783"/>
            <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="176" rx="176" cy="267" cx="524" stroke="#000" fill="#fce8d6"/>
            <ellipse class = "animacao" id = "svg_15" ry="186" rx="186" cy="267" cx="524" stroke="#fce8d6" stroke-width="5" stroke-linecap="round" stroke-dasharray="30,20,5,5,10,15" fill="none"/>
            <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="50" rx="300" cy="270" cx="530" stroke-width="0" fill="#fce8d6"/>
            <ellipse stroke-width="0" stroke="#000" ry="147" rx="147" cy="280" cx="530" fill="#930fff"/>
            <ellipse filter="url(#svg_2_blur)" stroke-width="0" opacity="0.75" stroke="#000" ry="140" rx="140" cy="280" cx="530" fill="#2e00ff"/>
            <ellipse filter="url(#svg_4_blur)" opacity="0.4" ry="136" rx="136"  cy="280" cx="530" stroke="#000" fill="#000000"/>
            <ellipse filter="url(#svg_5_blur)" ry="130" rx="130" cy="280" cx="529" stroke="#000" fill="#000000"/>
            <path transform="rotate(-96.4382 549.08 344.969)" stroke="#000"  d="m521.85324,114.05312c-20.93128,20.33575 43.25796,491.75538 58.60756,460.3274" stroke-width="0" fill="#dd5500"/>
            <path transform="rotate(-96.4382 551.58 336.969)" stroke="#000"  d="m523.81816,111.51841c-21.34264,19.85445 44.1081,480.11652 59.75936,449.43238" stroke-width="0" fill="#a95ef9"/>
            <path filter="url(#svg_58_blur)" transform="rotate(-96.4382 548.206 332.511)" stroke="#000"  d="m520.87531,106.73968c-21.01124,19.88271 43.42321,480.7999 58.83144,450.07208" stroke-width="0" fill="#e85c00"/>
            <path transform="rotate(-96.4382 542.206 326.511)" stroke="#000" d="m515.82171,108.91357c-20.28398,19.16287 41.92021,463.39303 56.79512,433.77768" stroke-width="0" fill="#a95ef9"/>
            <path filter="url(#svg_58_blur)" transform="rotate(-96.8128 552.206 316.011)" stroke="#000"  d="m526.79362,101.57188c-19.53683,18.88472 40.37609,456.66685 54.70309,427.48137" stroke-width="0" fill="#ff7f00"/>
            <path transform="rotate(-97 545.206 309.011)" stroke="#000"  d="m519.44851,89.4856c-19.80215,19.33265 40.92444,467.49867 55.44602,437.62093" stroke-width="0" fill="#efb783"/>
            <path filter="url(#svg_58_blur)" transform="rotate(-96 537.2 298.784)" stroke="#000"  d="m506.22637,69.42695c-23.81167,20.19853 49.21078,488.43718 66.67266,457.22127" stroke-width="0" fill="#fce8d6"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="144" cx="144.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="239" cx="208.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="46" cx="319.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="100" cx="46.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="465" cx="276.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="490" cx="199.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="241" cx="97.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="108" cx="223.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="343" cx="57.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="301" cx="152.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="158" cx="238.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="363" cx="116.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="57" cx="170.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="458" cx="61.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="158" cx="238.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="39" cx="95.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="483" cx="753.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="538" cx="134.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="541" cx="436.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="531" cx="660.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="83" cx="748.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="26" cx="555.5"/>
            <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="20" cx="602.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="168" cx="111.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="206" cx="38.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="112" cx="37.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="381" cx="117.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="332" cx="91.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="140" cx="149.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="111" cx="91.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="533" cx="584.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="242" cx="219.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="546" cx="343.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="39" cx="242.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="101" cx="290.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="548" cx="735.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="395" cx="756.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="32" cx="421.5"/>
            <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="23" cx="492.5"/>
            <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="292" cx="33.5"/>
            <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="463" cx="124.5"/>
            <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="469" cx="64.5"/>
            <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="534" cx="285.5"/>
            <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="568" cx="105.5"/>
            <rect rx="10" ry="10" y="510" x="250"/>
            <text transform="matrix(1.2324 0 0 1.06077 -74.3162 -28.4002)" stroke="#000" font-weight="normal" font-style="normal" xml:space="preserve" text-anchor="start" font-family="'Impact'" font-size="40" stroke-width="0" y="560" x="300" fill="white">Black hole</text>  
        </g>
        <defs>
            <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_2_blur">
                <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
            </filter>
            <filter id="svg_4_blur">
                <feGaussianBlur stdDeviation="0.5" in="SourceGraphic"/>
            </filter>
            <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_5_blur">
                <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
            </filter>
            <filter id="svg_58_blur">
                <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
            </filter>
        </defs>
    </svg>
</body>
</html>