<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style_infograficos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="container-fluid" style = "background-color: black;">
    <div>
        <div class="row justify-content-center ">
            <svg class = "col-4" width="600" height="400" xmlns="http://www.w3.org/2000/svg" style = "background-color:black" viewBox="0 0 800 600">
                <g>
                    <g class = "distant_stars">
                        <path stroke="#000" d="m-122.34307,93.57194l15.84783,0l4.8971,0.874l4.8971,-0.874l15.84782,0l-12.82114,-0.54016l4.89735,-0.874l-12.82114,0.54017l-12.82114,-0.54017l4.89736,0.874l-12.82114,0.54016z" stroke-width="0" fill="#c6f6ff"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="285.68255" cx="674.48678"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="519.62962" cx="85.55555"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="186.21164" cx="350.95238"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="362.59259" cx="745.55555"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="413.70372" cx="61.85185"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="522.5926" cx="694.44447"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="56.66667" cx="616.66667"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="264.32804" cx="439.35448"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="527.39682" cx="482.61374"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="32.22222" cx="239.62963"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="220.37037" cx="63.33333"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="55.18519" cx="67.77778"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="47.77778" cx="316.66667"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="254.93122" cx="150.48677"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="312.31053" cx="316.85132"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="105.21691" cx="302.4868"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="358.35983" cx="159.62962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="376.07411" cx="364.77253"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="330.93125" cx="91.05818"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="486.35984" cx="605.34401"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="80.64547" cx="400.20112"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="166.35978" cx="731.62975"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="126.93119" cx="74.48675"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="541.21702" cx="257.34393"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="473.67408" cx="328.02962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="158.07408" cx="140.42963"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="401.67408" cx="520.02962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="140.16531" cx="597.93506"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="119.62963" cx="138.88889"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="39.62965" cx="493.8888"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="305.41773" cx="555.61291"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="46.05823" cx="761.03159"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="296.00888" cx="210.81002"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="418.91524" cx="645.31733"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="467.48669" cx="410.31739"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="430.34383" cx="718.17441"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="323.91529" cx="26.03178"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="547.48665" cx="384.60311"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="57.48679" cx="180.31745"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="418.91524" cx="645.31733"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="231.32903" cx="644.62767"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="170.63938" cx="490.14492"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="380.2454" cx="263.76572"/>
                        <g transform="rotate(-19.1238 736.428 232.937)">
                            <rect class = "shining" rx="5" y="230.00002" x="715.71394"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="67.17806" x="222.90318"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="232.59457" cx="736.72356" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(-19.1238 46.4284 44.3657)">
                            <rect class = "shining" rx="5" y="41.42864" x="25.71414"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="862.88399" x="-38.06861"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="44.02319" cx="46.72376" fill="#7a2dff"/>
                        </g>
                        <g>
                            <rect class = "shining" rx="5" y="393.99012" x="422.93077"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="409.54947" x="434.67066"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="396.58467" cx="443.94039" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(23.9488 144.286 559.366)">
                            <rect class = "shining" rx="5" y="556.42848" x="123.57125"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="759.50948" x="644.27536"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="559.02304" cx="144.58088" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(34.7034 248.391 180.64)">
                            <rect class = "shining" transform="rotate(-19.1238 248.391 179.559)" rx="5" y="177.77291" x="227.67672"/>
                            <rect class = "shining" transform="rotate(-19.1238 248.788 180.64) translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="631.11878" x="145.48713"/>
                            <ellipse transform="rotate(-19.1238 248.935 180.226)" stroke="#000" filter="url(#svg_152_blur)" ry="6.05515" rx="5.43428" cy="180.22606" cx="248.93507" fill="#2db2ff"/>
                        </g>
                        <g>
                            <rect class = "shining" transform="rotate(15.5796 574.524 561.13)" rx="5" y="559.34454" x="553.80948"/>
                            <rect class = "shining" transform="rotate(15.5796 574.234 562.245) translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="261.49338" x="655.39327"/>
                            <ellipse transform="rotate(15.5796 574.591 561.989)" stroke="#000" filter="url(#svg_152_blur)" ry="6.05515" rx="5.43428" cy="561.9888" cx="574.59119" fill="#2db2ff"/>
                        </g>            
                    </g>
                    <rect rx="10" ry="10" y="510" x="250" style = "fill:#010252"/>
                    <text transform="matrix(1.2324 0 0 1.06077 -74.3162 -28.4002)" stroke="#000" font-weight="normal" font-style="normal" xml:space="preserve" text-anchor="start" font-family="'Impact'" font-size="40" stroke-width="0" y="555" x="270" fill="white">Neutron Stars</text> 
                    <a class = "binary_star_set">
                        <g class = "neutron_star_1">
                            <ellipse class = "neutron_star_nebula" ry="59" rx="59" cy="150" cx="600" stroke="#2896f7" stroke-width="5" stroke-linecap="round" stroke-dasharray="20,10,5,10,20,5" fill="none"/>
                            <ellipse class = "neutron_star_nebula" ry="62" rx="62" cy="150" cx="600" stroke="#2896f7" stroke-width="5" stroke-linecap="round" stroke-dasharray="30,20,5,10" fill="none"/>
                            <ellipse ry="60" rx="60" cy="150" cx="600" stroke="none" fill="#2db2ff"/>
                            <ellipse filter="url(#svg_2_blur)" stroke-width="0" ry="58" rx="58" cy="148.49999" cx="598.49999" stroke="#000" fill="#7ad0ff"/>
                            <ellipse opacity="undefined" filter="url(#svg_3_blur)" stroke-width="0" ry="53" rx="53" cy="145.49999" cx="595.49999" stroke="#000" fill="#c6f6ff"/>
                            <ellipse filter="url(#svg_4_blur)" stroke-width="0" ry="45" rx="45" cy="145.49999" cx="595.49999" stroke="#000" fill="#2ddfff"/>
                            <path d="m589.49998,162.49999c-11.04972,0 -20,-8.95028 -20,-20c0,-11.04972 8.95028,-20 20,-20c11.04972,0 20,8.95028 20,20c0,11.04972 -8.95028,20 -20,20z" filter="url(#svg_6_blur)" opacity="undefined" stroke-width="0" stroke="#000" fill="#70e9ff"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="127.30104" cx="580.99284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="137.96771" cx="594.59284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="128.36771" cx="590.32617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="131.56771" cx="597.25951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="145.16771" cx="596.72617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="133.96771" cx="603.65951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="141.70104" cx="583.92617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="147.30104" cx="586.05951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="140.36771" cx="603.65951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="156.90104" cx="592.72617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="148.10104" cx="610.32617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="122.23438" cx="594.32617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="115.56771" cx="584.72617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="133.70104" cx="566.59284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="121.16771" cx="577.25951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="127.03438" cx="567.92617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="145.16771" cx="578.85951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="157.96771" cx="582.85951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="152.10104" cx="574.59284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="136.90104" cx="574.05951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="142.76771" cx="571.39284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="134.50104" cx="590.05951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="151.56771" cx="581.25951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="164.90104" cx="588.99284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="160.10104" cx="577.52617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="149.70104" cx="595.92617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="131.30104" cx="573.52617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="151.83438" cx="589.79284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="137.70104" cx="610.32617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="127.56771" cx="602.59284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="121.96771" cx="586.32617"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="134.50104" cx="580.19284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="133.43438" cx="585.79284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="140.90104" cx="590.05951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="147.30104" cx="604.19284"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="118.76771" cx="590.85951"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="154.50104" cx="601.52617"/>
                        </g>
                        <g class = "neutron_star_2">
                            <ellipse class = "neutron_star_nebula" ry="59" rx="59" cy="450" cx="200" stroke="#2896f7" stroke-width="5" stroke-linecap="round" stroke-dasharray="30,20,8,12,18,7" fill="none"/>
                            <ellipse class = "neutron_star_nebula" ry="61" rx="61" cy="450" cx="200" stroke="#2896f7" stroke-width="5" stroke-linecap="round" stroke-dasharray="60,40,16,24,36,14" fill="none"/>
                            <ellipse ry="60" rx="60" cy="450" cx="200" stroke="none" fill="#2db2ff"/>
                            <ellipse filter="url(#svg_2_blur)" stroke-width="0" ry="58" rx="58" cy="448.50001" cx="198.5" stroke="#000" fill="#7ad0ff"/>
                            <ellipse opacity="undefined" filter="url(#svg_3_blur)" stroke-width="0" ry="53" rx="53" cy="445.50001" cx="195.5" stroke="#000" fill="#c6f6ff"/>
                            <ellipse filter="url(#svg_4_blur)" stroke-width="0" ry="45" rx="45" cy="445.50001" cx="195.5" stroke="#000" fill="#2ddfff"/>
                            <path d="m189.5,462.50001c-11.04973,0 -20,-8.95027 -20,-20c0,-11.04972 8.95027,-20 20,-20c11.04972,0 20,8.95028 20,20c0,11.04973 -8.95028,20 -20,20z" filter="url(#svg_6_blur)" opacity="undefined" stroke-width="0" stroke="#000" fill="#70e9ff"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="427.30106" cx="180.99286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="437.96773" cx="194.59286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="428.36773" cx="190.32619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="431.56773" cx="197.25952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="445.16773" cx="196.72619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="433.96773" cx="203.65952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="441.70106" cx="183.92619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="447.30106" cx="186.05952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="440.36773" cx="203.65952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="456.90106" cx="192.72619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="448.10106" cx="210.32619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="422.2344" cx="194.32619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="415.56773" cx="184.72619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="433.70106" cx="166.59286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="421.16773" cx="177.25952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="427.0344" cx="167.92619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="445.16773" cx="178.85952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="457.96773" cx="182.85952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="452.10106" cx="174.59286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="436.90106" cx="174.05952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="442.76773" cx="171.39286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="434.50106" cx="190.05952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="451.56773" cx="181.25952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="464.90106" cx="188.99286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="460.10106" cx="177.52619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="449.70106" cx="195.92619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="431.30106" cx="173.52619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="451.8344" cx="189.79286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="437.70106" cx="210.32619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="427.56773" cx="202.59286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="421.96773" cx="186.32619"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="434.50106" cx="180.19286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="433.4344" cx="185.79286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="440.90106" cx="190.05952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="447.30106" cx="204.19286"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="418.76773" cx="190.85952"/>
                            <ellipse class = "neutron_star_details" filter="url(#svg_30_blur)" ry="2" rx="2" cy="454.50106" cx="201.52619"/>
                        </g>
                    </a> 
                </g>
                <defs>
                    <filter id="svg_2_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_3_blur">
                         <feGaussianBlur stdDeviation="3" in="SourceGraphic"/>
                    </filter>
                    <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_4_blur">
                        <feGaussianBlur stdDeviation="5" in="SourceGraphic"/>
                    </filter>
                    <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_6_blur">
                        <feGaussianBlur stdDeviation="5" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_30_blur">
                        <feGaussianBlur stdDeviation="0.8" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_152_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                </defs>
            </svg>
            <div class="col-8 col-lg-6 align-self-center">
                <header>
                    <h1>Estrela de Nêutrons</h1>
                </header>
                <p>
                    Estrela de nêutrons (português brasileiro) ou neutrões (português europeu)
                    é o núcleo colapsado de uma grande estrela que, antes do colapso,
                    teria tido um total de entre 10 e 29 massas solares.
                    As estrelas de nêutrons são as menores e mais densas estrelas que se tem conhecimento.
                    Embora elas tipicamente tenham um raio na ordem de 10 quilômetros,
                    elas podem ter massas cerca de duas vezes a do Sol. Eles resultam da explosão
                    da supernova de uma estrela massiva, combinada com o colapso gravitacional,
                    que comprime o núcleo após a densidade da estrela anã branca ao dos núcleos atômicos.
                </p>
            </div>
                
        </div>
        <div class="row justify-content-center flex-md-row-reverse">            
            <svg class = "col-4" width="800" height="600" xmlns="http://www.w3.org/2000/svg" style = "background-color:black" viewBox="0 0 800 600">
                <g id="Layer_1">
                    <g class = "distant_stars">
                        <path stroke="#000" d="m-122.34307,93.57194l15.84783,0l4.8971,0.874l4.8971,-0.874l15.84782,0l-12.82114,-0.54016l4.89735,-0.874l-12.82114,0.54017l-12.82114,-0.54017l4.89736,0.874l-12.82114,0.54016z" stroke-width="0" fill="#c6f6ff"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="285.68255" cx="674.48678"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="519.62962" cx="85.55555"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="186.21164" cx="350.95238"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="362.59259" cx="745.55555"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="413.70372" cx="61.85185"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="522.5926" cx="694.44447"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="56.66667" cx="616.66667"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="264.32804" cx="439.35448"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="527.39682" cx="482.61374"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="32.22222" cx="239.62963"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="220.37037" cx="63.33333"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="55.18519" cx="67.77778"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="47.77778" cx="316.66667"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="254.93122" cx="150.48677"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="312.31053" cx="316.85132"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="105.21691" cx="302.4868"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="358.35983" cx="159.62962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="376.07411" cx="364.77253"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="330.93125" cx="91.05818"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="486.35984" cx="605.34401"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="80.64547" cx="400.20112"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="166.35978" cx="731.62975"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="126.93119" cx="74.48675"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="541.21702" cx="257.34393"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="473.67408" cx="328.02962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="158.07408" cx="140.42963"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="3" rx="3" cy="401.67408" cx="520.02962"/>
                        <ellipse class = "star_4" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="140.16531" cx="597.93506"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="119.62963" cx="138.88889"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="39.62965" cx="493.8888"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="305.41773" cx="555.61291"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="46.05823" cx="761.03159"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="296.00888" cx="210.81002"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="418.91524" cx="645.31733"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="467.48669" cx="410.31739"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="430.34383" cx="718.17441"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="323.91529" cx="26.03178"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="547.48665" cx="384.60311"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="57.48679" cx="180.31745"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="418.91524" cx="645.31733"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="231.32903" cx="644.62767"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="170.63938" cx="490.14492"/>
                        <ellipse class = "star_5" filter="url(#svg_152_blur)" ry="6.3" rx="6.3" cy="380.2454" cx="263.76572"/>
                        <g transform="rotate(-19.1238 736.428 232.937)">
                            <rect class = "shining" rx="5" y="230.00002" x="715.71394"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="67.17806" x="222.90318"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="232.59457" cx="736.72356" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(-19.1238 46.4284 44.3657)">
                            <rect class = "shining" rx="5" y="41.42864" x="25.71414"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="862.88399" x="-38.06861"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="44.02319" cx="46.72376" fill="#7a2dff"/>
                        </g>
                        <g>
                            <rect class = "shining" rx="5" y="393.99012" x="422.93077"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="409.54947" x="434.67066"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="396.58467" cx="443.94039" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(23.9488 144.286 559.366)">
                            <rect class = "shining" rx="5" y="556.42848" x="123.57125"/>
                            <rect class = "shining" transform="translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="759.50948" x="644.27536"/>
                            <ellipse stroke="#000" filter="url(#svg_152_blur)" opacity="0.9" ry="6.05515" rx="5.43428" cy="559.02304" cx="144.58088" fill="#7a2dff"/>
                        </g>
                        <g transform="rotate(34.7034 248.391 180.64)">
                            <rect class = "shining" transform="rotate(-19.1238 248.391 179.559)" rx="5" y="177.77291" x="227.67672"/>
                            <rect class = "shining" transform="rotate(-19.1238 248.788 180.64) translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="631.11878" x="145.48713"/>
                            <ellipse transform="rotate(-19.1238 248.935 180.226)" stroke="#000" filter="url(#svg_152_blur)" ry="6.05515" rx="5.43428" cy="180.22606" cx="248.93507" fill="#2db2ff"/>
                        </g>
                        <g>
                            <rect class = "shining" transform="rotate(15.5796 574.524 561.13)" rx="5" y="559.34454" x="553.80948"/>
                            <rect class = "shining" transform="rotate(15.5796 574.234 562.245) translate(451.503 416.054) scale(1 1) translate(-451.503 -416.054) translate(451.503 415.865) scale(1 0.889293) translate(-451.503 -415.865) matrix(0.0126696 0.850601 -0.862999 0.0124876 792.878 2.08229)" rx="5" y="261.49338" x="655.39327"/>
                            <ellipse transform="rotate(15.5796 574.591 561.989)" stroke="#000" filter="url(#svg_152_blur)" ry="6.05515" rx="5.43428" cy="561.9888" cx="574.59119" fill="#2db2ff"/>
                        </g>            
                    </g>
                    <rect rx="10" ry="10" y="635" x="250" style = "fill:#240073"/>
                    <text transform="matrix(1.2324 0 0 1.06077 -74.3162 -28.4002)" stroke="#000" font-weight="normal" font-style="normal" xml:space="preserve" text-anchor="start" font-family="'Impact'" font-size="40" stroke-width="0" y="675" x="315" fill="white">Kilonova</text>  
                    <line class = "linha" y2="362.60858" x2="445.21722" y1="463.47813" x1="591.73895" stroke="#fc36ff" stroke-width="8" stroke-linecap="round" stroke-dasharray="30,30,20,10"/>
                    <line class = "linha_2" y2="356.52162" x2="450.43461" y1="559.99985" x1="531.30417" stroke="#369aff" stroke-width="8" stroke-linecap="round" stroke-dasharray="10,5,20,10"/>
                    <line class = "linha" y2="363.47814" x2="446.08679" y1="535.99986" x1="567.8259" stroke="#ffffff" stroke-width="8" stroke-linecap="round" stroke-dasharray="10,15,10,5,10,2"/>
                    <line class = "linha_2" y2="350.21725" x2="450.52154" y1="563.65206" x1="625.73896" stroke="#6328f7" stroke-width="8" stroke-linecap="round" stroke-dasharray="20,15,8,17"/>
                    <ellipse class = "elipse" transform="rotate(52 398.915 301.253)" ry="300" rx="210" cy="301.25309" cx="398.91542" stroke = "#6328f7" stroke-width="40" stroke-linecap="round" stroke-dasharray="60,60,40,20" fill="none"/>
                    <ellipse class = "elipse_2" ry="250" rx="170" cy="301.25309" cx="398.91542" stroke = "#369aff" stroke-width="28" stroke-linecap="round" stroke-dasharray="40,30,30,15" fill="none"/>
                    <ellipse class = "elipse_3" ry="210" rx="130" cy="301.25309" cx="398.91542" stroke = "#fc36ff" stroke-width="20" stroke-linecap="round" stroke-dasharray="20,20" fill="none"/>
                    <ellipse class = "elipse_4" ry="185" rx="105" cy="301.25309" cx="398.91542" stroke = "#ffffff" stroke-width="14" stroke-linecap="round" stroke-dasharray="60,50,40,30" fill="none"/>
                    <ellipse class = "elipse_5" ry="160" rx="80" cy="301.25309" cx="398.91542" stroke = "#369aff" stroke-width="14" stroke-linecap="round" stroke-dasharray="30,20,20,10,10,5" fill="none"/>
                    <ellipse class = "elipse_6" ry="145" rx="65" cy="301.25309" cx="398.91542" stroke = "#6328f7" stroke-width="11" stroke-linecap="round" stroke-dasharray="15,10,10,5,5,2" fill="none"/>
                    <path filter="url(#svg_74_blur)" transform="rotate(-40 519.14 433.24)" opacity="0.7" d="m472.77801,547.44581l36.23453,-228.41109l10.91212,0.17492l45.57687,228.23617l-92.72352,0z" stroke-width="0" fill="url(#svg_68)"/>
                    <path transform="rotate(-40 525.737 438.794)" filter="url(#svg_73_blur)" opacity="0.7" d="m457.04166,552.99962l53.68981,-228.41109l16.16883,0.17492l67.53264,228.23617l-137.39128,0z" stroke-width="0" fill="url(#svg_65)"/>
                    <ellipse class = "elipse_7" transform="rotate(52 399.229 301.253)" ry="130" rx="50" cy="301.25309" cx="399.2289" stroke = "#fc36ff" stroke-width="9" stroke-linecap="round" stroke-dasharray="30,18,10,10,7,3" fill="none"/>
                    <path transform="rotate(52 398.915 301.253)" filter="url(#svg_90_blur)" d="m398.91542,416.25309c-19.33702,0 -35,-51.46409 -35,-115c0,-63.53591 15.66298,-115 35,-115c19.33702,0 35,51.46409 35,115c0,63.53591 -15.66298,115 -35,115z" opacity="undefined" stroke-width="0" fill="#ffffff"/>
                    <ellipse transform="rotate(52 399.034 301.16)" filter="url(#svg_92_blur)" stroke-width="0" ry="94.84948" rx="15" cy="301.16041" cx="399.03405" fill="#2db2ff"/>
                    <ellipse stroke-width="0" ry="80" rx="80" cy="300" cx="400" fill="#2db2ff"/>
                    <ellipse filter="url(#svg_2_blur)" stroke-width="0" ry="75" rx="75" cy="300" cx="400" fill="#ffffff"/>
                    <path class = "semi_elipse" transform="rotate(-135.48 467.988 370.057)" d="m581.02368,71.51786c-299.83669,34.43084 -289.41862,593.06712 -39.63432,597.07825" stroke = "#6328f7" stroke-width="40" stroke-linecap="round" stroke-dasharray="60,60,40,20" fill="none"/>
                    <path class = "semi_elipse_2" transform="rotate(-135.48 454.721 356.741)" d="m548.95943,107.58213c-249.97638,28.73582 -241.29076,494.97095 -33.04347,498.31863" stroke = "#369aff" stroke-width="28" stroke-linecap="round" stroke-dasharray="54,54,34,12" fill="none"/>
                    <path class = "semi_elipse_3" transform="rotate(-135.48 439.665 342.443)" d="m513.14315,133.41002c-177.98183,18.91523 -200.6486,409.3386 -33.04347,418.06641" stroke = "#fc36ff" stroke-width="20" stroke-linecap="round" stroke-dasharray="20,20" fill="none"/>
                    <path class = "semi_elipse_4" transform="rotate(-135.48 430.803 332.888)" d="m491.26295,148.95566c-145.97853,13.63344 -163.17857,364.24858 -33.04347,367.86471" stroke = "#ffffff" stroke-width="8" stroke-linecap="round" stroke-dasharray="60,50" fill="none"/>
                    <path class = "semi_elipse_5" transform="rotate(-135.48 422.305 324.973)" d="m471.15601,165.84694c-108.4673,11.53379 -136.6832,309.44524 -33.04347,318.25212" stroke = "#369aff" stroke-width="14" stroke-linecap="round" stroke-dasharray="60,50,30,20,10,5" fill="none"/>
                    <path class = "semi_elipse_6" transform="rotate(-137.579 413.102 315.003)" d="m455.13198,171.93198c-84.041,3.97722 -117.80824,274.34215 -41.31501,286.14234" stroke = "#6328f7" stroke-width="11" stroke-linecap="round" stroke-dasharray="45,35,15,15,7,3" fill="none"/>
                    <path class = "semi_elipse_7" transform="rotate(-137.843 410.6 312.55)" d="m444.2157,184.05206c-67.21543,3.57211 -94.22224,246.39775 -33.04347,256.99598" stroke = "#fc36ff" stroke-width="9" stroke-linecap="round" stroke-dasharray="30,18,10,10,7,3" fill="none"/>
                    <ellipse transform="rotate(52.2781 364.892 250.577)" filter="url(#svg_4_blur)" ry="15.00312" rx="7.8942" cy="250.5768" cx="364.89244" stroke-width="0" fill="#2db2ff"/>
                    <path filter="url(#svg_19_blur)" transform="rotate(139.698 284.868 167.49)" d="m216.17215,281.69533l53.6898,-228.41109l16.16883,0.17492l67.53264,228.23617l-137.39128,0z" stroke-width="0" fill="url(#svg_65)"/>
                    <path transform="rotate(139.698 285.227 165.414)" filter="url(#svg_67_blur)" d="m238.86502,279.61977l36.23453,-228.41109l10.91212,0.17492l45.57686,228.23617l-92.72352,0z" stroke-width="0" fill="url(#svg_68)"/>
                    <path transform="rotate(-137.914 404.441 307.115)" filter="url(#svg_91_blur)" stroke-width="0" d="m433.22227,192.54493c-53.75823,8.41403 -80.30198,224.33987 -33.04347,229.14001" opacity="undefined" fill="#ffffff"/>
                    <path transform="rotate(-139.737 401.381 305.062)" filter="url(#svg_93_blur)" stroke-width="0" d="m427.3468,213.90132c-43.78338,3.06823 -72.92574,201.13482 -33.04347,180.86592" fill="#2db2ff"/>
                    <path transform="rotate(-127 403.938 304.697)" filter="url(#svg_77_blur)" stroke-width="0" d="m414.75514,386.44313c-12.54061,0 -28.79064,-38.96256 -28.79064,-82.78057c0,-43.81801 15.35782,-80.71176 27.89843,-80.71176c12.54061,0 5.67657,44.12927 5.67657,87.94728c0,43.81801 7.75626,75.54505 -4.78436,75.54505z" opacity="undefined" fill="#ffffff"/>
                    <line class = "linha" y2="251.30425" x2="359.99985" y1="161.73905" x1="191.30423" stroke="#fc36ff" stroke-width="8" stroke-linecap="round" stroke-dasharray="30,30,20,10"/>
                    <line class = "linha_2" y2="253.04338" x2="367.82593" y1="93.04341" x1="231.30422" stroke="#6328f7" stroke-width="8" stroke-linecap="round" stroke-dasharray="20,10,10,20"/>
                    <line class = "linha" y2="250.43469" x2="361.73898" y1="23.0434" x1="282.17377" stroke="#ffffff" stroke-width="8" stroke-linecap="round" stroke-dasharray="30,20,5,10"/>
                    <line class = "linha_2" y2="247.82599" x2="366.95637" y1="45.21733" x1="313.04333" stroke="#369aff" stroke-width="8" stroke-linecap="round" stroke-dasharray="60,30,10,20"/>
                </g>
                <defs>
                    <filter id="svg_2_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_4_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <linearGradient y2="1" x2="0" y1="0" x1="0" id="svg_65">
                        <stop offset="0.14063" stop-opacity="0.97656" stop-color="#2db2ff"/>
                        <stop offset="0.39453" stop-opacity="0.98438" stop-color="#82c9f2"/>
                        <stop offset="1" stop-color="rgba(255,255,255,0)"/>
                        <stop offset="NaN" stop-opacity="0" stop-color="0"/>
                    </linearGradient>
                    <linearGradient y2="1" x2="0" y1="0" x1="0" id="svg_68">
                        <stop offset="0.13672" stop-opacity="0.97266" stop-color="#ffffff"/>
                        <stop offset="0.14063" stop-opacity="0.97266" stop-color="#ffffff"/>
                        <stop offset="1" stop-color="rgba(255,255,255,0)"/>
                        <stop offset="NaN" stop-opacity="0" stop-color="0"/>
                    </linearGradient>
                    <filter id="svg_67_blur">
                        <feGaussianBlur stdDeviation="0.7" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_19_blur">
                        <feGaussianBlur stdDeviation="0.5" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_77_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_74_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_73_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_93_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_92_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_91_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_90_blur">
                        <feGaussianBlur stdDeviation="1" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_152_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                </defs>
               </svg>

            <div class="col-8 col-lg-6 align-self-center">
                <header>
                    <h1>Kilonova</h1>
                </header>
                <p>
                    Uma kilonova (também chamada de uma 'macronova' ou uma 'supernova de processo-r")
                    ocorre quando duas estrelas de nêutrons ou uma estrela de nêutron e um buraco negro
                    se unem em um sistema binário. Uma forte radiação eletromagnética é emitida devido ao
                    decaimento de íons do pesado processo-r que são produzidos e ejetados basicamente na
                    forma isotrópica durante o processo de fusão — semelhante a uma supernova fraca e de
                    curta duração. O espiral e a fusão dos dois objetos compactos são uma forte fonte
                    de ondas gravitacionais (GWs). Acredita-se que possa ser o emissor de curtas
                    explosões de raios gama e a fonte predominante do estável processo-r de elementos
                    no Universo. 
                </p>
            </div>

        </div>

        <div class="row justify-content-center">
            <svg class = "col-4" width="600" height="400" xmlns="http://www.w3.org/2000/svg" style = "background-color:black" viewBox="0 0 800 600">
                <g>
                    <ellipse class = "particles" id = "svg_1" filter="url(#svg_58_blur)" ry="233" rx="233" cy="267" cx="524" stroke="#a95ef9" stroke-width="3" stroke-linecap="round" stroke-dasharray="80,80,40,50" fill="none"/>
                    <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="105" rx="355" cy="270" cx="530" stroke-width="0" fill="#dd5500"/>
                    <ellipse stroke-width="0" ry="230" rx="230" cy="267" cx="524" stroke="#000" fill="#dd5500"/>
                    <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="95" rx="345" cy="270" cx="530" stroke-width="0" fill="#a95ef9"/>
                    <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="220" rx="220" cy="267" cx="524" stroke="#000" fill="#a95ef9"/>
                    <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="90" rx="340" cy="270" cx="530" stroke-width="0" fill="#e85c00"/>
                    <ellipse stroke-width="0" ry="215" rx="215" cy="267" cx="524" stroke="#000" fill="#e85c00"/>
                    <ellipse class = "particles" id = "svg_7" ry="213" rx="213" cy="267" cx="524" stroke="#ff7f00" stroke-width="3" stroke-linecap="round" stroke-dasharray="60,60,30,20" fill="none"/>
                    <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="80" rx="330" cy="270" cx="530" stroke-width="0" fill="#a95ef9"/>
                    <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="205" rx="205" cy="267" cx="524" stroke="#000" fill="#a95ef9"/>
                    <ellipse class = "particles" id = "svg_10" ry="197" rx="197" cy="267" cx="524" stroke="#efb783" stroke-width="3" stroke-linecap="round" stroke-dasharray="20,10,5,5,5,10" fill="none"/>
                    <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="70" rx="320" cy="270" cx="530" stroke-width="0" fill="#ff7f00"/>
                    <ellipse stroke-width="0" ry="195" rx="195" cy="267" cx="524" stroke="#000" fill="#ff7f00"/>
                    <ellipse transform="rotate(-13.726 530 270)" stroke="#000" ry="60" rx="310" cy="270" cx="530" stroke-width="0" fill="#efb783"/>
                    <ellipse stroke-width="0" ry="185" rx="185" cy="267" cx="524" stroke="#000" fill="#efb783"/>
                    <ellipse filter="url(#svg_58_blur)" stroke-width="0" ry="176" rx="176" cy="267" cx="524" stroke="#000" fill="#fce8d6"/>
                    <ellipse class = "particles" id = "svg_15" ry="186" rx="186" cy="267" cx="524" stroke="#fce8d6" stroke-width="5" stroke-linecap="round" stroke-dasharray="30,20,5,5,10,15" fill="none"/>
                    <ellipse filter="url(#svg_58_blur)" transform="rotate(-13.726 530 270)" stroke="#000" ry="50" rx="300" cy="270" cx="530" stroke-width="0" fill="#fce8d6"/>
                    <ellipse stroke-width="0" stroke="#000" ry="147" rx="147" cy="280" cx="530" fill="#930fff"/>
                    <ellipse filter="url(#svg_2_blur)" stroke-width="0" opacity="0.75" stroke="#000" ry="140" rx="140" cy="280" cx="530" fill="#2e00ff"/>
                    <ellipse filter="url(#svg_4_blur)" opacity="0.4" ry="136" rx="136"  cy="280" cx="530" stroke="#000" fill="#000000"/>
                    <ellipse filter="url(#svg_5_blur)" ry="130" rx="130" cy="280" cx="529" stroke="#000" fill="#000000"/>
                    <path transform="rotate(-96.4382 549.08 344.969)" stroke="#000"  d="m521.85324,114.05312c-20.93128,20.33575 43.25796,491.75538 58.60756,460.3274" stroke-width="0" fill="#dd5500"/>
                    <path transform="rotate(-96.4382 551.58 336.969)" stroke="#000"  d="m523.81816,111.51841c-21.34264,19.85445 44.1081,480.11652 59.75936,449.43238" stroke-width="0" fill="#a95ef9"/>
                    <path filter="url(#svg_58_blur)" transform="rotate(-96.4382 548.206 332.511)" stroke="#000"  d="m520.87531,106.73968c-21.01124,19.88271 43.42321,480.7999 58.83144,450.07208" stroke-width="0" fill="#e85c00"/>
                    <path transform="rotate(-96.4382 542.206 326.511)" stroke="#000" d="m515.82171,108.91357c-20.28398,19.16287 41.92021,463.39303 56.79512,433.77768" stroke-width="0" fill="#a95ef9"/>
                    <path filter="url(#svg_58_blur)" transform="rotate(-96.8128 552.206 316.011)" stroke="#000"  d="m526.79362,101.57188c-19.53683,18.88472 40.37609,456.66685 54.70309,427.48137" stroke-width="0" fill="#ff7f00"/>
                    <path transform="rotate(-97 545.206 309.011)" stroke="#000"  d="m519.44851,89.4856c-19.80215,19.33265 40.92444,467.49867 55.44602,437.62093" stroke-width="0" fill="#efb783"/>
                    <path filter="url(#svg_58_blur)" transform="rotate(-96 537.2 298.784)" stroke="#000"  d="m506.22637,69.42695c-23.81167,20.19853 49.21078,488.43718 66.67266,457.22127" stroke-width="0" fill="#fce8d6"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="144" cx="144.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="239" cx="208.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="46" cx="319.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="100" cx="46.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="465" cx="276.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="490" cx="199.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="241" cx="97.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="108" cx="223.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="343" cx="57.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="301" cx="152.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="158" cx="238.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="363" cx="116.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="57" cx="170.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="458" cx="61.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="158" cx="238.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="39" cx="95.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="483" cx="753.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="538" cx="134.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="541" cx="436.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="531" cx="660.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="83" cx="748.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="26" cx="555.5"/>
                    <ellipse class = "star_1" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="20" cx="602.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="168" cx="111.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="206" cx="38.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="112" cx="37.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="381" cx="117.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="332" cx="91.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="140" cx="149.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="111" cx="91.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="533" cx="584.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="242" cx="219.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="546" cx="343.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="39" cx="242.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="101" cx="290.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="548" cx="735.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="395" cx="756.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="32" cx="421.5"/>
                    <ellipse class = "star_2" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="23" cx="492.5"/>
                    <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="292" cx="33.5"/>
                    <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="463" cx="124.5"/>
                    <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="469" cx="64.5"/>
                    <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="534" cx="285.5"/>
                    <ellipse class = "star_3" filter="url(#svg_58_blur)" ry="7" rx="7"  cy="568" cx="105.5"/>
                    <rect rx="10" ry="10" y="510" x="250" style = "fill:#2b0002"/>
                    <text transform="matrix(1.2324 0 0 1.06077 -74.3162 -28.4002)" stroke="#000" font-weight="normal" font-style="normal" xml:space="preserve" text-anchor="start" font-family="'Impact'" font-size="40" stroke-width="0" y="560" x="300" fill="white">Black Hole</text>  
                </g>
                <defs>
                    <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_2_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_4_blur">
                        <feGaussianBlur stdDeviation="0.5" in="SourceGraphic"/>
                    </filter>
                    <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_5_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                    <filter id="svg_58_blur">
                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                    </filter>
                </defs>
            </svg>

            <div class="col-8 col-lg-6 align-self-center">
                    <h1>Buraco Negro</h1>
                </header>
                <p>
                    Região do espaço-tempo em que o campo gravitacional é tão intenso que nada
                    - nenhuma partícula ou radiação eletromagnética como a luz —
                    pode escapar dela. A teoria da relatividade geral prevê que uma massa
                    suficientemente compacta pode deformar o espaço-tempo para formar um buraco negro.
                </p>
            </div>
        </div>              
    </div>
</body>