body {
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/9f/7e/9e/9f7e9e3c9175cf44fbe4b5f7899ff838.gif");
    background-size: cover;
    padding:50;
    margin:0;

    color: white;

    font-size: large;
    font-family: 'Mochiy Pop One', sans-serif;
}