*{
    margin: 0;
    padding: 15px;
}

img{
    width: 200px;
    height: 200px;
    margin: 0;
}

body{
    font-family: monospace;
    background-image:url(img/cookieburger.png); 
    background-repeat: repeat; 
    background-size: 300px 300px;
    cursor: url(img/cookiecursor.png), default;
}

h1{
    color: white;

}