
img{
    width: 200px;
    height: 200px;
    margin: 0;
}

body{
    font-family: monospace;
    background-image:url(img/cookieburger.png); 
    background-repeat: repeat; 
    cursor: url(img/cookieburger.png), default;
}

h1{
    color: white;

}