*{
    margin: 0;
    padding: 15px;
}

body {
    background-image: linear-gradient(to bottom right, #a2bcfa, #c599b2);
    color:rgb(34, 27, 34);
    font-family: Georgia, "Times New Roman"}
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }


h1 {
    font-size: 20px;
    font-family: Helvetica, Geneva, Arial,
            SunSans-Regular, sans-serif }

h2{
    font-size: 30px;
    width:900px;
}

h3{
    font-size: 25px;
    width:900px;
}

h4{
    font-size: 20px;
    width:900px;
}

ul{
    font-size: 20px;
    list-style: none;
}

li{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    width: 200px;
    height: 200px;
    margin: 0;
}

div{
    width: 1000px;
    height: 200px;
    margin-bottom: 100px;
    background-color: rgb(239, 222, 255);
}

div2{
    width: 1000px;
    height: 30px;
    margin-bottom: 100px;
    background-color: rgb(239, 222, 255);
}

p{
    color: rgba(0, 0, 0, 0)
}

table{
    width: 800px;
}

video{
     text-align: center;
     width:480px; 
     height:360px;
}
footer{
    font-size: 20px;
}

tr, td{
   font-weight:bold;
   font-size: 15px;
}

th{
   font-size: 30px;
}