{% extends "RodrigoPintucci/pintuccitemplate.html" %} 
{% load static %}

{% block cabeçalho %}
    <title>????</title>
    <link rel="icon" href={% static "RodrigoPintucci/img/tabbyena3.png" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'RodrigoPintucci/style2.css' %}">
{% endblock %}
{% block estilo %}{% endblock %}

{% block conteudo %}
    <text>O [{{segredo|upper}}] adverte: reinicie a página.</text>
    <h1>{{crypto|random}}</h1>
    <text>{{ mensagem|cut:" " }}</text>
    <text>Dica: a mensagem tem {{mensagem|wordcount}} palavras</text>
{% endblock %}

{% include "RodrigoPintucci/finalzin.html" %}