<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% block cabeçalho %}
            <meta charset ="UTF-8"/>
            <title>Página do Diguin</title>
            <link rel="icon" href={% static "RodrigoPintucci/img/tabbyena3.png" %}>
        {% endblock %}
        {% block estilo %}{% endblock %}
    </head>
    <body>
        {% block conteudo %}
            <h1>Não tem nada aqui ainda.. mas vai ter.. aproveite esse conteúdo padrão por enquanto..</h1>
        {% endblock %}

        {% include "RodrigoPintucci/finalzin.html" %}
    </body>
</html>