{% extends "treuke/truco-template.html"%}

{% block meta %}
<title>Bacon</title>
{% endblock %}


{% block conteudo %}
    Item aleatório da vez: {{ list|random }}.
    {{string_espacada|cut:" "}}
    {{valor|default:"nada havia sido inserido" }}.
    
    <br>

    <button onclick="add_bacon()">Add Bacon</button>
    Olá {{nome|capfirst}}, essa é uma galeria de bacon destinada a você:
    <div id="gallery">

    </div>
{% endblock %}

{% block footer %}
<style>
    #gallery{
        display: flex;
        flex-wrap: wrap;
    }
</style>
<script>
    function add_bacon(){
        dice1 = Math.floor(Math.random() * 500)+100;
        dice2 = Math.floor(Math.random() * 500)+100;
        src = "https://baconmockup.com/"+dice1+"/"+dice2+"/"
        img = document.createElement("img")
        img.src = src
        document.getElementById("gallery").appendChild(img)
    }

</script>
{% endblock %}
