{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'treuke/style.css' %}">
    {% block meta %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% include "treuke/header.html" %}
    {% block conteudo %}
        <p>Nenhum conteúdo</p>
    {% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>