{% extends "iara/iara_template.html"%}

{% load static %}
{% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'iara/estilo2.css' %}">
{% endblock %}

{% block meta %}<div2><h3>Frase Motivacional</h3></div2>{% endblock %}

{% block conteudo %}
<div>
    <h4>Minha página não contém imagens, e não contém conteúdo que te leve
    a lugar algum…
    <br>
    Deveria haver mais textos aqui porém eu
    ainda não decidi o que escrever.
    <br>
    Definição de Feriado: Período de tempo em que há cessação de trabalho, em que se descansa (diz-se de dia, hora, período etc)</h4>
    <br>
</div>
{% endblock %}