<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Férias</title>
</head>
<body>
    <p>Bem vindos à minha página estilizada!</p>

        <p>Minha página não contém imagens, e não contém conteúdo que te leve
        a lugar algum…</p>
        
        <p>Deveria haver mais textos aqui porém eu
        ainda não decidi o que escrever.</p>
    <br>
    <p>Definição de Feriado: Período de tempo em que há cessação de trabalho, em que se descansa (diz-se de dia, hora, período etc.)</p>
    <h1>Tenha um ótimo dia, e chame {{nome}} {{nome_familia}} se precisar de algo! </h1>
</body>
</html>