<!DOCTYPE html>
<html lang="en">
<head>
    {% include "iara/rodape.html" %}

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    <title>{% block titulo %}Document{% endblock %}</title>
    {% endblock %}

    {% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'iara/estilo2.css' %}">
    {% endblock %}
</head>
<body>
    {% block conteudo %}
       Bem vindos à minha página estilizada!
    {% endblock %}
</body>

</html>